{% extends 'base.html' %}
{% block title %}Book List{% endblock title %}
{% block stylesheet %}
<style>
  table {
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid black;
  }

  img {
    max-width: 100%;
    height: 200px;
  }
</style>
{% endblock stylesheet %}


{% block content %}
  <h1>Book List</h1>
  <table>
    <thead>
      <tr>
        <td>책 제목</td>
        <td>가격</td>
        <td>등록자</td>
        <td>등록일</td>
        <td>수정일</td>
        <td>이미지</td>
      </tr>
    </thead>
    <tbody>
      {% for b in books %}
      <tr>
        <td><a href="{{ b.handle }}">{{ b.name }}</a></td>
        <td>{{ b.price }}</td>
        <td>{{ b.user }}</td>
        <td>{{ b.created }}</td>
        <td>{{ b.updated }}</td>
        <td><img src="{{ b.get_image_url }}" alt=" Image">
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="/products/book/create"><input type="button" value="책 등록"></a>

{% endblock content %}
