{% extends 'base.html' %}

{% block title %}Book Detail{% endblock title%}

{% block content %}
{% block stylesheet %}
<style>
    {% if book.user != request.user %}
    .hidden {
        visibility: hidden;
    }
    {% endif %}

    .kakaopay-btn {
        background: url(https://developers.kakao.com/tool/resource/static/img/button/pay/payment_icon_yellow_small.png) no-repeat center;
        background-size: cover;
        border: none;
        width: 80px;
        height: 32px;
    }

    .kakaopay-btn:hover {
        filter: brightness(70%);
    }
</style>
{% endblock stylesheet %}


<h1>{{ book.name }}</h1>
<div>
    <p>Handle: <span id="handle">{{ book.handle }}</span></p>
    <p>Price: <span id="price">{{ book.price }}</span></p>
    <p>User: <span id="user">{{ book.user }}</span></p>
    <p>Stock: <span id="stock">{{ book.stock }}</span></p>
    <img src="{{ book.get_image_url }}" alt="Image" width="500" height="500">
</div>
<!-- <button type="submit" id="purchaseBtn">구매</button> -->
<button type="submit" id="cartBtn">카트</button>
<!-- <button type="submit" id="kakaopayBtn" class="kakaopay-btn"></button> -->

  <span class="hidden"><a href="/products/book/update/{{ book.handle }}/"><input type="button" value="수정"></a></span>
  <button type="submit" id="deleteBtn" class="hidden">삭제</button>
  <a href="/products/book/"><input type="button" value="목록"></a>
  
  <h2>Comments</h2>
 
  {% if comments %}
  <ul>
    {% for comment in comments %}
      <li>
        {{ comment.comment }} / {{ comment.date }}
        <button class="delete-button" data-comment-id="{{ comment.id }}">Delete</button>
      </li>
    {% endfor %}
  </ul>
{% endif %}



  <form id="commentForm" method="post">
      {% csrf_token %}
      <textarea id="id_content" rows="4" cols="50"></textarea><br>
      <button type="submit">Submit</button>
  </form>

 </div>

    <script>
        const csrftoken = getCookie('csrftoken');
        const deleteBtn = document.getElementById('deleteBtn');

    if (deleteBtn) {
        deleteBtn.addEventListener('click', function (e) {

            e.preventDefault();

            const url = '/products/book/delete/' + '{{ book.handle }}';
            // console.log(url)
            fetch(url, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': csrftoken
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.statusCode == 200) {
                        window.location.href = data.redirect;
                    }
                    else if (data.statusCode == 401) {
                        window.location.href = data.redirect;
                    }
                    else if (data.statusCode == 403) {
                        alert('상품 삭제 권한이 없습니다');
                    }
                })
                .catch(
                    error => console.log(error)
                );
        });
    }
        document.getElementById('cartBtn').addEventListener('click', function () {
            const handle = '{{ book.handle }}';
            const url = '/carts/add/';
            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ product: handle })
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    window.location.href = data.redirect_url;
                });
        });

        document.getElementById('commentForm').addEventListener('submit', function (e) {
        e.preventDefault();

        const commentContent = document.getElementById('id_content').value;

        const handle = '{{ book.handle }}';
        const url = `/products/book/${handle}/comment/write/`;

        fetch(url, {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ content: commentContent }),
        })
            .then(response => response.json())
            .then(data => {
            if (data.message) {
                window.location.href = data.redirect;
            }
            })
            .catch(error => console.log(error));
        });

        // Add an event listener to the delete buttons
    const deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach(button => {
    button.addEventListener('click', () => {
        const handle = '{{ book.handle }}';
        const commentId = button.dataset.commentId;
        const url = `/products/book/${handle}/comment/delete/${commentId}/`;

        fetch(url, {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({ product: handle }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
            window.location.href = data.redirect;
            }
        })
        .catch(error => console.log(error));
    });
    });
 </script>
{% endblock content %}