{% extends 'base.html' %}
{% load static %}
{% block title %}Book List{% endblock title %}


{% block headScripts %}
{% endblock headScripts %}


{% block stylesheet %}
<style>
    table {
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid black;
    }
</style>
{% endblock stylesheet %}


{% block content %}
{% load mathfilters %}
<h1>Cart Items</h1>
{% if items %}
<table>
    <thead>
        <tr>
            <td>선택</td>
            <td>상품명</td>
            <td>수량</td>
            <td>금액</td>
            <td>이미지</td>
            <td>삭제</td>
        </tr>
    </thead>
    <label for="cartItem">
        <tbody>
        </tbody>
    </label>
</table>
<p id="total">총액: 0원</p>
{% else %}
<h2>현재 장바구니에 담긴 상품이 없습니다.</h2>
{% endif %}

<script type="module">
    // SECTION - initial script
    import {itemHtmlMapper} from "{% static 'js/cartItem.js' %}";

    const csrftoken = getCookie("csrftoken");

    // JsonResponse를 통해 상품리스트를 얻어온다.
    let products = [];
    let elements = [];

    fetch("product", {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken
        },
    })
        .then(res => res.json())
        .then(data => {
            if (data.statusCode !== 200) {
                alert("상품 데이터가 올바르게 전달되지 않았습니다.");
                window.location.href = "/";
            }
            products = data.items;
            // Push products into `tbody`
            for (let item of products) {

                const htmlElement = itemHtmlMapper(item);
                elements.push(htmlElement);
                document.querySelector("tbody").appendChild(
                    htmlElement
                );
            }
        });
    //!SECTION


    //SECTION - Event Listeners
    //!SECTION
</script>
<!-- 
{% for i in items %}
<script>

    document.querySelector('#{{ i.product.handle }}-quantity').addEventListener('input', function (e) {
        e.preventDefault();

        fetch('update/', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                product: '{{ i.product.handle }}',
                quantity: document.querySelector('#{{ i.product.handle }}-quantity').value
            })
        })
            .then(res => res.json())
            .then(data => {
                if (data.status_code == 200) {
                    window.location.href = data.redirect_url;
                } else {
                    alert(data.message);
                    window.location.href = data.redirect_url;
                }
            });
    });

    document.querySelector('#{{ i.product.handle }}-deleteBtn').addEventListener('click', function (e) {
        e.preventDefault();

        fetch('delete/', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                product: '{{ i.product.handle }}',
            })
        })
            .then(res => res.json())
            .then(data => {
                alert(data.message);
                window.location.href = data.redirect_url;
            });
    });
</script>
{% endfor %}
<script>
    document.querySelectorAll('#checkbox').forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            var total = 0;

            document.querySelectorAll('#checkbox').forEach(checkbox => {
                if (checkbox.checked) {
                    total += parseInt(checkbox.value);
                }
            });
            document.querySelector('#total').textContent = `총액: ${total}원`;
        });
    });
</script> -->
{% endblock content %}