{% extends 'base.html' %}


{% block title %}
책 등록
{% endblock title %}

{% block content %}
<h1>책 등록</h1>
<form method="post" class="productCreate">
  {% csrf_token %}
  <label for="name">책 제목:</label>
  <input type="text" id="name" name="name" required /><br /><br />

  <label for="price">가격:</label>
  <input type="text" id="price" name="price" required /><br /><br />

  <label for="image">책 이미지:</label>
  <input type="file" id="image" name="image" accept="image/*" required /><br /><br />

  <label for="user">등록자:</label>
  <input type="text" id="user" name="user" value="{{ user.nickname }}" readonly /><br /><br />

  <label for="stock">재고:</label>
  <input type="number" id="stock" name="stock" value="0" /><br /><br />

  <input type="submit" value="등록" />
</form>

<script>
  document.querySelector(".productCreate").addEventListener("submit", function (e) {
  e.preventDefault();

  const fileInput = document.querySelector("#image");
  const imageFile = fileInput.files[0];

  const reader = new FileReader();
  reader.onloadend = function () {
    const imageData = reader.result.split(",")[1];

    const data = {
      name: document.querySelector("#name").value,
      price: document.querySelector("#price").value,
      stock: document.querySelector("#stock").value,
      image: imageData
    };

    const csrfToken = getCookie("csrftoken");

    fetch("/products/book/create/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrfToken
      },
      body: JSON.stringify(data)
    })
      .then(res => {
        if (res.status !== 200) {
          return Promise.reject(res);
        }
        return res.json()
      })
      .then(data => {
        alert(data.message);
        window.location.href = data.redirect_url;
      }).catch(res => {
        const contentType = res.headers.get("Content-Type").split(";")[0];
        if (contentType === "text/html") {

          res.text().then(html => {
            document.body.innerHTML = html;
          })

        } else if (contentType === "application/json") {

          res.json().then(error => {

              alert(error.message);

            }).catch((e) => {

              alert("JSON 파싱 에러! 콘솔창을 확인하세요.");
              console.log(e);
            })
        }
        if (typeof res.json === "function") {
          
        } else {
          alert("알 수 없는 에러! 콘솔창을 확인하세요.");
          console.log(res);
        }
      });
  };

  reader.readAsDataURL(imageFile);
});

</script>
{% endblock content %}