{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white text-center">MY ORDERS</h2>
  {% if purchases %}
    <table class="border-collapse mx-auto">
      <thead>
        <tr>
          <th class="border border-gray-300 px-4 py-2">Product Name</th>
          <th class="border border-gray-300 px-4 py-2">Price</th>
          <th class="border border-gray-300 px-4 py-2">Completed</th>
          <th class="border border-gray-300 px-4 py-2">Order Cancel</th>
        </tr>
      </thead>
      <tbody>
        {% for purchase in purchases reversed %}
          <tr>
            <td class="border border-gray-300 px-4 py-2">{{ purchase.order_name }}</td>
            <td class="border border-gray-300 px-4 py-2">
            {% if purchase.stripe_price == 0 %}
            {{ purchase.kakaopay_price }}원
            {% else %}
            ${{ purchase.stripe_price }}
            {% endif %}
            </td>
            <td class="border border-gray-300 px-4 py-2">{% if purchase.completed %}Completed{% else %}Canceled{% endif %}</td>
            <td class="border border-gray-300 px-4 py-2">
              {% if purchase.completed %}
                {% if purchase.provider == "stripe" %}
                <form action="{% url 'purchases:stripe_payment_cancel' purchase.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="cancel-link" data-purchase-id="{{ purchase.id }}">Cancel Payment</button>
                </form>
                {% elif purchase.provider == "kakaopay" %}
                <form action="{% url 'purchases:kakaopay_payment_cancel' purchase.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="cancel-link" data-purchase-id="{{ purchase.id }}">Cancel Payment</button>
                </form>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="text-center">No orders found.</p>
  {% endif %}
{% endblock %}
