<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>
</head>
<body>
    <h1>프로필</h1>
    <form method="post" action="{% url 'users:profile' %}">
        {% csrf_token %}
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" /><br /><br />

        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname" value="{{ user.nickname }}" /><br /><br />

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" /><br /><br />

        <input type="submit" value="수정하기" />
    </form>

    <form method="post" action="{% url 'users:delete_user' %}">
        {% csrf_token %}
        <input type="submit" value="계정 삭제하기" onclick="return confirm('정말로 계정을 삭제하시겠습니까?');" />
    </form>
</body>
</html>