<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필</title>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
</head>
<body>
    <form id="userUpdate" method="post">
        {% csrf_token %}
        <h1>프로필</h1>
        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" /><br /><br />

        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nickname" value="{{ user.nickname }}" /><br /><br />

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" /><br /><br />
        <input type="submit" value="수정하기" />
    </form>

    <form id="userDelete" method="post">
        {% csrf_token %}
        <input type="submit" value="계정 삭제하기" />
    </form>

    <script>
        document.querySelector("#userUpdate").addEventListener("submit", function (e) {
            e.preventDefault();
            fetch("/users/profile/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken")
                },
                body: JSON.stringify({
                    "email": document.querySelector("#email").value,
                    "nickname": document.querySelector("#nickname").value,
                    "password": document.querySelector("#password").value
                })
            })
                .then(res => res.json())
                .then(data => alert(data.message));
        });

        document.querySelector("#userDelete").addEventListener("submit", function (e) {
            e.preventDefault();
            if (confirm("정말로 계정을 삭제하시겠습니까?")) {
                fetch("/users/deleteUser/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": getCookie("csrftoken")
                    }
                })
                    .then(res => res.json())
                    .then(data => {
                        alert(data.message);
                        window.location.href = "/users/signin/";
                    });
            }
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
</body>
</html>