{% extends 'base.html' %}
{% block title %}로그인 페이지{% endblock title %}
{% block stylesheet %}
{% load socialaccount %}
<style>
  body {
    font-family: Arial, sans-serif;
  }

  .container-body {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .container-body h2 {
    text-align: center;
  }

  .container-body input[type="email"],
  .container-body input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .container-body button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .container-body button:hover {
    background-color: #45a049;
  }

  .line {
    border: 1px solid #ccc;
    margin: 8px 0;
  }

  a, a:visited {
    color: white;
    text-decoration-line: none;
  }

  #google {
    background-color: #4285F4;
  }
</style>
{% endblock stylesheet %}


{% block content %}
  
  {% if user.is_authenticated %}
    <script>
      window.location.href = "/";
    </script>
  {% else %}
    <div class="container-body">
      <h2>로그인</h2>
      <form id="login_form" method="post">
        {% csrf_token %}
        <label for="email">이메일 주소:</label>
        <input type="email" id="email" name="email" />

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" />

        <button type="submit">로그인</button>
      </form>
      <div class="line"></div>
      <button type="button" id="google">
        <a href="{% provider_login_url 'google' %}?next=/users/profile/">Sign in with Google</a>
      </button>
    </div>

    <script>
      document.getElementById('login_form').addEventListener('submit', function (e) {
        e.preventDefault();
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        const formData = new URLSearchParams();
        formData.append('email', email);
        formData.append('password', password);

        fetch('{% url "users:signin" %}', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': getCookie("csrftoken")
          },
          body: formData.toString()
        })
          .then(response => response.json())
          .then(data => {
            console.log(data);
            console.log(data.status);
            if (data.statusCode == 200) {
              window.location.href = data.redirect;
            } else {
              alert('아이디 또는 비밀번호가 맞지 않습니다');
            }
          })
          .catch(
            error => console.log(error)
          );
      });
    </script> 
  {% endif %}

  
{% endblock content %}