{% extends 'base.html' %}
{% block title %}로그인 페이지{% endblock title %}
{% block stylesheet %}
{% load socialaccount %}
<style>
  body {
    font-family: Arial, sans-serif;
  }

  .container-body {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .container-body h2 {
    text-align: center;
  }

  .container-body input[type="email"],
  .container-body input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .container-body button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .container-body button:hover {
    background-color: #45a049;
  }

  a {
    text-decoration-line: none;
  }

  .line {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 16px;
	margin: 8px 0px;
  }

  .line::before,
  .line::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    border: 1px solid #ccc;
  }

  .line::before {
    margin-right: 8px;
  }

  .line::after {
    margin-left: 8px;
  }

  #social-login {
    margin: 0px 26px;
    width: 64px;
  }
</style>
{% endblock stylesheet %}


{% block content %}
  
  {% if user.is_authenticated %}
    <script>
      window.location.href = "/";
    </script>
  {% else %}
    <div class="container-body">
      <h2>로그인</h2>
      <form id="login_form" method="post">
        {% csrf_token %}
        <label for="email">이메일 주소:</label>
        <input type="email" id="email" name="email" autocomplete="current-email"/>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" autocomplete="current-password"/>

        <button type="submit">로그인</button>
      </form>
      <div class="line">소셜 로그인</div>
      <a href="{% provider_login_url 'google' %}">
        <img src='https://ifh.cc/g/oLRcTj.png' id="social-login">
      </a>
      <a href="{% provider_login_url 'kakao' %}">
        <img src='https://ifh.cc/g/mB3Kw6.png' id="social-login">
      </a>
      <a href="{% provider_login_url 'naver' %}">
        <img src='https://ifh.cc/g/tYm7MF.png' id="social-login">
      </a>
    </div>

    <script>
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + '=') {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
    
      document.getElementById('login_form').addEventListener('submit', function (e) {
        e.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        
        const data = {
          email: email,
          password: password,
        };
        
        fetch('/users/signin/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
          },
          body: JSON.stringify(data),
        })
          .then(response => response.json())
          .then(data => {
            if (data.status === 200 ) {
                window.location.href = data.redirect;
            } 
            else {
                alert(data.message);
                window.location.href = '/users/signin/';
            }
          })
          .catch(error => console.log(error));
      });
    </script> 
  {% endif %}

  
{% endblock content %}