{% extends 'base.html' %}


{% block content %}
<h1>비밀번호 변경</h1>
<form id="updatePassword">
    {% csrf_token %}
    <div>
        <div>
            <label for="password">기존 비밀번호</label>
        </div>
        <div id="error-password" class="text-danger">
        </div>
        <div>
            <input type="password" id="password" name="password">
        </div>
    </div>
    <div>
        <div>
            <label for="password1">새 비밀번호</label>
        </div>
        <div id="error-password1" class="text-danger">
        </div>
        <div>
            <input type="password" id="password1" name="password1">
        </div>
    </div>
    <div>
        <div>
            <label for="password2">새 비밀번호 (확인)</label>
        </div>
        <div id="error-password2" class="text-danger">
        </div>
        <div>
            <input type="password" id="password2" name="password2">
        </div>
    </div>
    <div id="error-other" class="text-danger"></div>
    <div>
        <input type="submit" value="수정하기">
    </div>
</form>

<script>
    $updatePassword = document.getElementById("updatePassword");
    $password = document.getElementById("password");
    $errorPassword = document.getElementById("error-password");
    $password1 = document.getElementById("password1");
    $errorPassword1 = document.getElementById("error-password1");
    $password2 = document.getElementById("password2");
    $errorPassword2 = document.getElementById("error-password2");
    $errorOther = document.getElementById("error-other");

    if ($updatePassword) {
        $updatePassword.addEventListener("submit", (e) => {
            e.preventDefault();
            $errorPassword.innerHTML = "";
            $errorPassword1.innerHTML = "";
            $errorPassword2.innerHTML = "";

            const passwords = {
                "password": $password.value,
                "password1": $password1.value,
                "password2": $password2.value,
            };

            fetch("{% url 'users:updatepassword' %}", {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken")
                },
                body: JSON.stringify(passwords)
            }).then(res => {
                if (!res.ok) {
                    return Promise.reject(res);
                }
                return res.json();
            }).then(data => {
                if (data.message) {
                    alert(data.message);
                }
                if (data.redirect_url) {
                    window.location.pathname = data.redirect_url;
                }
                // window.location.href = "{% url 'users:signin' %}";
            }).catch(error => {
                if (typeof error.json === "function") {
                    error.json().then(jsonError => {
                        for (const key in jsonError) {
                            let $hint = document.getElementById("error-" + key);
                            if ($hint) {
                                $hint.innerHTML = jsonError[key];
                            } else {
                                $errorOther.innerHTML = jsonError["non_field_errors"];
                            }
                        }
                    }).catch(genericError => {
                        alert(error);
                    });
                } else {
                    alert(error);
                }
            });
        });
    }
</script>
{% endblock content %}