{% extends 'base.html' %}


{% block title %}
    책 정보 수정
{% endblock title %}


{% block content %}
    <h1>책 정보 수정</h1>
    <form method="post" id="productUpdate">
        {% csrf_token %}
        <label for="name">책 제목:</label>
        <input type="text" id="name" name="name" value="{{ book.name }}" required /><br /><br />

        <label for="price">가격:</label>
        <input type="text" id="price" name="price" value="{{ book.price }}" required /><br /><br />

        <label for="user">등록자:</label>
        <input type="text" id="user" name="user" value="{{ user.nickname }}" readonly /><br /><br />

        <label for="stock">재고:</label>
        <input type="number" id="stock" name="stock" value="{{ book.stock }}" /><br /><br />

        <input type="submit" value="등록" />
        <a href="javascript:history.back()"><input type="button" value="취소"></a>
    </form>
    <script>
    document.querySelector("#productUpdate").addEventListener("submit", function (e) {
        e.preventDefault();
        fetch("/products/book/update/{{ book.handle }}/", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCookie("csrftoken")
            },
            body: JSON.stringify({
                "name": document.querySelector("#name").value,
                "price": document.querySelector("#price").value,
                "stock": document.querySelector("#stock").value,
            })
        })
            .then(res => res.json())
            .then(data => {
                alert(data.message);
                window.location.href = data.redirect;
            })
            .catch(error => {
                console.error("Error:", error);
            })
    });
</script>
{% endblock content %}